@font-face {
    font-family: "Roboto-Thin";
    src: url(../fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: "Roboto-Light";
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: "TitilliumWeb-Bold";
    src: url(../fonts/TitilliumWeb-Bold.ttf);
}


/*CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
background-image: linear-gradient(45deg,#25316D,#5F6F94,#97D2EC,#FEF5AC);
color: white;
}


.container-personalizado {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color:#243; */
    height: 100vh;
}


.form-login{
    min-width:300px;
    max-width: 960px;
    padding: 50px;
    border-radius: 20px;
    width: 90%;
    background-color:#565656;

}

.form-login .linha {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    /* border: 1px  solid red; */
}

.form-login .linha label {
    margin-bottom: 20px;
    font-family: "Roboto-Light";
    font-size: 1.2rem;
    text-transform: uppercase;

}
.form-login .linha input {
    font-family: "Roboto-Light";
    border-radius: 10px;
    padding: 10px;
    height: 40px;
}

.form-login .btn-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-login .btn-actions button {
    width: 48%;
    margin-top: 20px;
}