/*importe de fontes*/
/*


*/
@font-face {
    font-family: "Roboto-Thin";
    src: url(../fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: "Roboto-Light";
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: "TitilliumWeb-Bold";
    src: url(../fonts/TitilliumWeb-Bold.ttf);
}


/*CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto-light", sans-serif;
}

/* desktop first (992px até o infinito) */
.container-gid {
    max-width: 1200px;
    margin: 0 auto;
    /* border:1px solid salmon;  */
}



.container {
    max-width: 1200px;
}





/* **********produtos********** */
header {
    height: 80px;
    background-color: black;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

header .logo {
    width: 280px;
    /* border: 2px solid white; */
}

/* navbar */
header .menu {
    display: flex;
    justify-content: space-between;
    width: 60%;
    max-width: 680px;
    /*  border: 2px solid red;*/
}

header .menu a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Roboto-Light", sans-serif;
    font-weight: 300;
}

header .menu-bar {
    display: none;
}

/*************produtos/jogos*************/
/* section produtos */
.produtos {
    width: 100%;
    height: 600px;
    background-color: brown;

    background-image: url(../images/banner_pilotos.png);
    background-repeat: no-repeat;
}

.produtos .banner-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 600px;
}

.produtos .banner-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 350px;
    height: 270px;
    color: white;
    /* border: 1px solid white; */
}

.produtos .banner-info h1 {
    font-family: "TitilliumWeb-Bold", sans-serif;
    font-size: 42px;
    text-align: center;
}

.produtos .banner-info p {
    font-family: "Roboto-Light";
    text-align: center;
    font-size: 18px;
}


.produtos .banner-info a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 50px;
    font-family: "Roboto-Light";
    background-color: #c31616;

    border: 1px solid #c31616;
    border-radius: 10px;

    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

/* especifidades css */
.mostraMenu {
    left: 0 !important;
    opacity: 0.95 !important;
}





/* **********JOGOS*********** */
/* section jogos */


.jogos{
    background-color: #1e1c21;
}

.jogos .ofertas {
    color: white;
    font-family:"TitilliumWeb-Bold";
    padding: 20px 0;
}

.jogos .card {
    
    max-width: 250px;
    margin-bottom: 20px;
    font-family: "Roboto-Thin";
    color: white;
    background-image: linear-gradient(to bottom, #1e1c21, #2a2a2c);
}

.jogos .card .card-title {
    justify-content: center;
    font-family: "Roboto-Light";
    text-transform: uppercase;
    font-size: 1.6rem;
}

.jogos .card .btn-buy {
    width: 100%;
    background-color: #c31616;
    font-family: "Roboto-Light";
    text-transform: uppercase;
}

/* tablets <992px (768px até 991px)*/
@media screen and (max-width:991px) {
    header {
        padding: 0 20px;
    }

    /* navbar  container flex*/
    header .menu {
        position: fixed;
        /* fixa o elemento na viewport*/
        top: 0;
        left: -80%;
        /*inicialmente escondido*/
        z-index: 100;
        opacity: 0;
        /*inicialmente invisível*/
        width: 80%;
        height: 100vh;

        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: #c31616;
        color: white;

        border-radius: 0 0 0 80px;

        transition: left 0.5s, opacity 0.6s;
    }

    /* links dos menus itens do flex */
    header .menu a {
        border-left: 3px dotted lightgrey;
        width: 80%;
        font-size: 1.3rem;
        margin-bottom: 20px;
        padding: 20px;
        color: lightgrey;
    }

    /* menu hamburguer */
    header .menu-bar {
        display: block;
        width: 45px;
    }

}

/* smartphones < 768 (0 até 767px) */
@media screen and (max-width:767px) {
    header .logo {
        width: 200px;
    }

    /* navbar */
    header .menu {
        border-radius: 0 0 0 60px;
    }

    header .menu a {
        border-left: 2px dotted lightgrey;
        font-size: 1rem;
        padding: 10px;
    }

    header .menu-bar {
        width: 30px;
    }
}